/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Define custom variables for colors */
:root {
  --button-color: rgb(87, 109, 76);
  --hover-color: rgb(137, 57, 31);
  --main-background-color: black;
  --hr-background-color: rgb(223, 217, 217);
  --input-border-color: rgb(204, 204, 204);
  --white-color: rgb(255, 255, 255);
}

body {
  font-size: calc(8px + 0.390625vw);
}

main {
  display: flex;
  justify-content: center;
  background-color: var(--main-background-color);
}

/* Container for the main content with responsive width */
.masterContainer {
  display: flex;
}

/* Background image styles */
.backgroundImage {
  flex: auto;
  width: 100%;
  height: 100%;
  background-image: url('halie-west-unsplash.jpg');
  background-size: contain; /* Fit the entire image within the container without cropping */
  background-position: center;
  background-repeat: no-repeat; /* Prevent repetition of the image */
  display: block;
  position: relative;
}

/* Left third of the layout */
.leftThird {
  flex: auto;
  width: 33.3333%;
  position: relative;
}

/* Source information styles */
.source {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white-color);
  font-size: calc(4px + 0.390625vw);
  font-weight: 100;
}

.odinImg {
  flex-shrink: 1;
  flex-basis: auto;
  width: 8vw;
  display: inline;
}

.odinLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 46%; /* Adjust this value to center it horizontally */
  transform: translateX(-50%);
}

h1 {
  flex-shrink: 1;
  flex-basis: auto;
  width: 8vw;
  letter-spacing: calc(1px + 0.190625vw);
  font-size: calc(15px + 1.390625vw);
  color: var(--white-color);
}

/* Link styles */
a:link,
a:visited,
a:hover,
a:active {
  color: var(--white-color);
}

/* Right two-thirds of the layout */
.rightThirds {
  background-color: var(--white-color);
  flex: auto;
  width: 66.666%;
  display: flex;
  flex-direction: column;
}

/* Paragraph styles */
p {
  max-width: 52ch;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* First paragraph styles */
.firstParagraph {
  margin-top: calc(18px + 4.990625vw);
}

/* Third paragraph styles */
.thirdParagraph {
  margin-top: calc(12px + 0.390625vw);
  margin-bottom: calc(2px + 0.090625vw);
  height: 33.3333%;
}

/* Form header styles */
.formHeader {
  height: 33%;
  margin-left: calc(8px + 0.390625vw);
  margin-right: calc(8px + 0.390625vw);
}

/* Form wrapper styles */
.formWrapper {
  height: 33%;
  margin-left: calc(8px + 0.390625vw);
  margin-right: calc(8px + 0.390625vw);

  margin-top: calc(18px + 0.3900625vw);

  margin-bottom: calc(18px + 0.3900625vw);
}

/* Form footer styles */
.formFooter {
  height: 33%;
  margin-left: calc(8px + 0.390625vw);
  margin-right: calc(8px + 0.390625vw);
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Column wrapper styles */
.columnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Column styles */
.column {
  flex: auto;
  flex-basis: 50%;
  padding: 10px;
  padding-left: 0;
}

/* Label styles */
label {
  font-size: calc(3px + 0.300625vw);
  display: block;
  margin-bottom: calc(1px + 0.090625vw);
}

/* Input styles */
input {
  font-size: calc(4px + 0.390625vw);
  width: 50%;
  padding: calc(1px + 0.200625vw);
  margin-bottom: calc(8px + 0.300625vw);
  border: 1px solid  var(--input-border-color);
}

/* Horizontal rule styles */
hr {
  margin-left: 0;
  margin-right: 0;
  height: 1px;
  background-color: var(--hr-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Submit button styles */
button[type="submit"] {
  background-color: var(--button-color);
  color: var(--white-color);
  display: block;
  width: 13vw;
  font-size: 1.25vw;

  border: 1px solid var(--hover-color);
  border-radius: calc(4px + 0.390625vw);
  padding: calc(1px + 0.190625vw);
  cursor: pointer;
  margin-top: calc(10px + 0.390625vw);
  margin-bottom: calc(10px + 0.390625vw);
}

button:hover {
  background-color: var(--hover-color);
  border: 1px solid var(--button-color);
}

span {
  font-size: 1.25vw;
}
/* Log in link styles */
.logIn:link,
.logIn:visited,
.logIn:active {
  color: var(--button-color);
  font-size: 1.25vw;
}

.logIn:hover {
  color: var(--hover-color);  
}

input:invalid {
  border-color: var(--hover-color);
}

input:valid {
  border-color: var(--button-color);
}

input:focus {
  border-color: blue;
  box-shadow: 5px 5px 10px 2px var(--main-background-color);
}