* {
    margin: 0;
    padding: 0;
}
body {
    /* height: 100vh; */
    font-size: calc(8px + 0.390625vw);
    line-height: calc(8px + 0.390625vw);
}
main {
    display: flex;
    justify-content: center;
    background-color: black;
}
#backgroundImage {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
}

.leftThird {
    flex: auto;
    width: 33.3333%;
    border: 2px solid red;

    position: relative;
}

.source {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: none;
    color: #fff;
    font-size: calc(4px + 0.30vw);
    /* line-height: calc(5px + 0.390625vw); */
    font-weight: 100;
}

.masterContainer {
    display: flex;
    width: clamp(450px, 100%, 1000px);
    /* height: 100vh; */

}

.rightThirds {
    background-color: white;
    flex: auto;
    width: 66.666%;
    border: 4px solid purple;

    display: flex;
    flex-direction: column;
}

p {
    max-width: 55ch;
    /* font-size: 1em; */
    font-weight: bold;
    /* line-height: 1.8em; */
}

.firstParagraph {
    margin-top:  calc(28px + 0.390625vw);
}

.thirdParagraph {
    margin-top:  calc(7px + 0.390625vw);
    margin-bottom:  calc(7px + 0.390625vw);
}

form {
    /* font-size: 1em; */
    height: 66.6666%;

}

.topFieldset {
    background-color: rgb(231, 229, 229);
}

.bottomFieldset {

}

button {
    display: block;
}